html, body {
  /* position: relative; */
  position: fixed;
  padding: 0;
  margin: 0;
  height: 100%;
  width: 300%;
}

.hoge {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.main-title {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 0;
  margin: 0;
  font-size: 10em;
  background: #ffa3ff;
  background-size: cover;
  animation: effect-title 4s ease forwards;
}

.hoge-1 {
  animation: effect-slide 2s linear forwards;
  background: #ffa3a3;
}
.hoge-2 {
  animation: effect-slide 2.1s linear forwards;
  background: #ffa3d1;
}
.hoge-3 {
  animation: effect-slide 2.2s linear forwards;
  background: #ffa3ff;
}

.hoge-4 {
  animation: effect-slide 2.3s linear forwards;
  background: #d1a3ff;
}
.hoge-5 {
  animation: effect-slide 2.4s linear forwards;
  background: #a3a3ff;
}
.hoge-6 {
  animation: effect-slide 2.5s linear forwards;
  background: #a3d1ff;
}
.hoge-7 {
  animation: effect-slide 2.6s linear forwards;
  background: #a3ffff;
}
.hoge-8 {
  animation: effect-slide 2.7s linear forwards;
  background: #a3ffd1;
}
.hoge-9 {
  animation: effect-slide 2.8s linear forwards;
  background: #a3ffa3;
}
.hoge-10 {
  animation: effect-slide 2.9s linear forwards;
  background: #d1ffa3;
}
.hoge-11 {
  animation: effect-slide 3s linear forwards;
  background: #ffffa3;
}
.hoge-12 {
  animation: effect-slide 3.1s linear forwards;
  background: #ffa3a3;
}

@keyframes effect-slide {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(-100%);
  }
}

@keyframes effect-title {
  0% {
    transform: scale(0.0) rotate(0);
  }
  50% {
    transform: scale(0.5) rotate(180deg);
  }
  100% {
    transform: scale(1) rotate(0); 
  }
}
